<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amanelshark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.DetailsCarActivity"></activity>
        <activity android:name=".view.MainHomeActivity" />
        <activity android:name=".view.DetailsServicesActivity" />
        <activity android:name=".view.ServicesActivity" />
        <activity android:name=".view.RegluarMainTenanceActivity" />
        <activity android:name=".view.PaymentActivity" />
        <activity android:name=".view.AddWarrantyPeriodActivity" />
        <activity android:name=".view.AddCarActivity" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.OnBoardActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
    </application>

</manifest>